.bg {
    &-white-gradient {
        background: rgba(255, 255, 255, 0.10);
    }

    &-grey-gradient-20 {
        background: rgba(255, 255, 255, 0.20);
    }

    &-purple {
        background: #460B6A;
    }
}