/* Colors and Fills */

:root {
    --tri-gradient: radial-gradient(circle at 20% 120%, #31183d, transparent 60%),
                    radial-gradient(circle at 80% 120%, #27365b, transparent 60%),
                    #0c0a2d;

    --purple-main: #9958E3;
    --purple-dark: #5611A3;
    --pink-main: #B03C69;
    --light-blue: #5D90B9;
    --grey: #7D7D7D;
}

.bg {
  &-white-gradient {
      background: rgba(255, 255, 255, 0.10);
  }

  &-grey-gradient-20 {
      background: rgba(255, 255, 255, 0.20);
  }

  &-purple {
      background: #460B6A;
  }

  &-tri-gradient {
    @extend %base-gradient;
    background: var(--tri-gradient);
    background-size: cover;
  }
}
  
%base-gradient {
  height: 100vh;
}

  