.text {
    &-main-logo {
        font-family: Helvetica, sans-serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: 30px;
    }
    /* repeat this for all text styles */
}