.spinner {
    display: inline-block;
    width: 150px;
    height: 150px;
    border: 12px solid var(--purple-main); 
    border-top-color: var(--purple-main); 
    border-radius: 50%;
    animation: spin 2s linear infinite;
  }
  
  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  