.input-card {
    background: var(--10-white, rgba(255, 255, 255, 0.10));
    background: var(--10-white, color(display-p3 1 1 1 / 0.10));
    backdrop-filter: blur(17px);
    border-radius: 8px;
    padding: 60px;
    border: 1px solid var(--7-d-7-d-7-d, #7D7D7D);
    border: 1px solid var(--7-d-7-d-7-d, color(display-p3 0.489 0.489 0.489));

    display: flex;
    justify-content: center;
    flex-direction: column;
    /* align-items: center; */
    gap: 40px;
    /* margin: 200px 506px 300px 506px; */
}

.label-text {
    margin-bottom: 12px;
    gap: 20px;
}

label {
    margin-bottom: 20px;
}

.label-text {
    font-family: var(--reg-font);
    color: var(--font-color);
}

.card-container {
    display: flex;
    justify-content: center;
    align-items: row;
}