#landing-button {
    display: flex;
    align-items: row;
    justify-content: center;
    margin: 0px 0px 240px 0px;
}

.get-started-button {
    font-family: var(--reg-font);
    font-size: 16px;
    font-weight: 510;
    text-align: center;
    color: var(--Navy, #0C0A31);
    color: var(--Navy, color(display-p3 0.0471 0.0392 0.1765));
    background: white;
    width: auto;
    height: 52px;
    vertical-align: middle;
    padding: 14px 26px;
    border-radius: 26px;
    border: 0px;
}



.text-container {
    display: flex;
    align-items: row;
    justify-content: center;
}

#title-container {
    width: 686px;
    text-align: center;
    margin: 240px 0px 0px 0px;
    
}

#header-container {
    width: 726px;
    text-align: center;
    margin: 40px 0px 40px 0px;
}
